<nav class="navbar navbar-expand-lg" style="background-color:rgb(177, 171, 160);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color:rgb(23, 2, 2);">Poly Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search.html">자료검색</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company.html">도서대출</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company.html">도서반납</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company.html">도서연장</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/company.html">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company.html">마이페이지</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
