<nav class="navbar navbar-expand-lg" style="background-color:white; min-height: 100px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color:rgb(23, 2, 2);"> <a class="navbar-brand" href="/index.html"
                style="color:rgb(23, 2, 2);">
                <img src="./img/bookicon.png" width="40px" height="40px"
                    style="margin-bottom: 10px; margin-right: -5px;">
            </a>
            Poly Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index.html" style="margin-left: 5px
                    ;"> 홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search.html">자료검색</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/loan.html">도서대출</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/return.html">도서반납</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/extend.html">도서연장</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/signin.html">회원가입 / 로그인 </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mypage.html">마이페이지</a>
                </li>

            </ul>
        </div>
    </div>
</nav>