---
layout : bootstrap
---

<header>
    <nav id="nav">
        {% include header.html %}
    </nav>

</header>

{{content}}
<div class="f_menu">
    <div class="in" style="padding: 10px;">
        <ul>
            <li><a href="./index.php?g_page=etc&amp;m_page=etc07">개인정보처리방침</a></li>
            <li><a href="./index.php?g_page=etc&amp;m_page=etc07">영상처리기기운영방침</a></li>
            <li><a href="./index.php?g_page=intro&amp;m_page=intro06">도서관오시는길</a></li>
            <li><a href="./index.php?g_page=etc&amp;m_page=etc07">이용자서비스헌장</a></li>

        </ul>
    </div>
</div>
<footer>
    {% include footer.html %}
</footer>